.App {
  text-align: center;
}

.background {
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 0px;
  max-width: 0px;
  min-height: 100vh;
  position: sticky;
  margin-top: 60vh;
}

/* footer style */

.footer {
  position: relative;
  margin: 0px;
  background-color: #212529;
  padding: 0px;

}

.footer-brand {
  color:white;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  color:rgba(255, 255, 255, 0.55);
}

.sub {
  display: flex;
  justify-content: space-evenly;
}

.sub p {
  margin: 5px;
}

@media screen and (max-width: 720px) {
  .sub {
    flex-direction: column;
  }
}
