.postbox {
    width: 60%;
    /* height: 97vh; */
    /* width: 70vw; */
    background-color: white;
    opacity: .9;
    margin-top: 3%;
    margin-bottom: 47vh;
    border: 2px solid black;
    border-radius: 50px;
}

.text {
    font-size: 1vw;
    padding: 2%;
}

.location {
    text-align: start;
}

.img {
    width: 53%;
}

.local {
    width: 91%;
    padding: 2%;
    border-radius: 50%;
}