.cards {
    margin-bottom: 10vh;
    opacity: .9;
}

.banner-text {
    margin-top: 11vh;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 1px 1px 2px gray;
    text-align: end;
}