.postbox {
    width: 60%;
    height: 97vh;
    width: 70vw;
    background-color: white;
    opacity: .9;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h1 {
    font-size: 1.6vw;
}

.text {
    font-size: .9vw;
    padding: 1%;
}

.location {
    text-align: start;
}

.img {
    width: 29vw;
}

.local {
    width: 14vw;
    padding: 2%;
    border-radius: 50%;
}